<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Detalles del Producto - <%= producto.nombre %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Detalles del Producto - <%= producto.nombre %></h1>
    <p><strong>Descripción:</strong> <%= producto.descripcion %></p>
    <p><strong>Precio:</strong> <%= producto.precio %></p>
    <p><strong>Categoría:</strong> <%= producto.categoria %></p>
    <p><strong>Stock:</strong> <%= producto.stock %></p>
</body>
</html>
