<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalles del Proveedor</title>
</head>
<body>
    <h1>Detalles del Proveedor - <%= proveedor.nombre %></h1>
    <ul>
        <li><strong>ID:</strong> <%= proveedor.id %></li>
        <li><strong>Nombre:</strong> <%= proveedor.nombre %></li>
        <li><strong>Dirección:</strong> <%= proveedor.direccion %></li>
        <li><strong>Teléfono:</strong> <%= proveedor.telefono %></li>
        <li><strong>Correo:</strong> <%= proveedor.correo %></li>
    </ul>
</body>
</html>
