<!-- views/clientes/obtenerClientePorId.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Información del Cliente</title>
</head>
<body>
    <% if (cliente) { %>
        <h1>Información del Cliente - <%= cliente.nombre %></h1>
        <table>
            <tr>
                <th>ID:</th>
                <td><%= cliente.id %></td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td><%= cliente.nombre %></td>
            </tr>
            <tr>
                <th>Dirección:</th>
                <td><%= cliente.direccion %></td>
            </tr>
            <tr>
                <th>Teléfono:</th>
                <td><%= cliente.telefono %></td>
            </tr>
            <tr>
                <th>Correo:</th>
                <td><%= cliente.correo %></td>
            </tr>
        </table>
    <% } else { %>
        <h1>Cliente no encontrado</h1>
        <p>No se encontró un cliente con el ID proporcionado.</p>
    <% } %>
</body>
</html>
